@import "tailwindcss";

.rdp-button:hover:not([disabled]):not(.rdp-day_selected) {
    background-color: #f1f5f9;
    /* slate-100 */
    border-radius: 9999px;
}

.rdp-day_selected {
    background-color: #0A1128 !important;
    /* Seu Azul Escuro */
}